SECRET_KEY=
OAUTH_REDIRECT_BASE=http://127.0.0.1:5000

#These are the credentials for the Google OAuth2.0 API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
#These are the credentials for the Github OAuth API
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
#These are the credentials for the Discord OAuth API
DISCORD_CLIENT_ID=
DISCORD_CLIENT_SECRET=

DATABASE_URL=

#Put emails for those who needs admin access
ADMIN_EMAILS=