body {
    background-color: rgb(251, 246, 244);
    background-image:url("https://camo.githubusercontent.com/c42c83df2fd1e442ef1e0ed69cc20d21f65308fc2f0dca2a8035360738d49c8c/68747470733a2f2f7765622e77686174736170702e636f6d2f696d672f62672d636861742d74696c652d6461726b5f61346265353132653731393562366237333364393131306234303866303735642e706e67");
    margin: 0;
}

.topnav {
    position: fixed;
    right: 25vw;
    display: flex;
    gap: 1vw;
    top:2.2vh;
    padding-right:0vw;
    align-items: center;
    z-index: 101;
}

p,a,button {
    font-size: 1.3vw;
}
.dashboard-avatar {
    border-radius: 100%;
    width: 5.5vh;
    border: 1px solid #77431d;
    position: fixed;
    top: 1vh;
    right: 1vw;
    z-index: 200;
}

a{
    font-size: 1.35vw;
}

h1 {
    font-size: 3vw;
}


.level {
    top: 2.6vh;
    right: 6vw;
    position: fixed;
    font-family: face;
    font-size: 1vw;
    z-index: 101;
}

.xp {
    top: 1.4vh;
    right: 5vw;
    position: fixed;
    font-size: 1vw;
    font-family: face;
    font-weight: 800;
    z-index: 101;
}

.nav {
    top: 1.4vh;
    position: fixed;
    font-size: 1vw;
    font-family: face;
    font-weight: 800;
    z-index: 101;
}

#prog {
    right: 11.5vw;
    top: 3vh;
    height: 2.5vh;
    width: 10vw;

    appearance: none;
    border: 3px solid #77431d;
    border-radius: 999px;
    background: #f3e6d8;
    overflow: hidden;

    box-shadow:
        0 4px 0 #77431d,
        0 6px 10px rgba(119, 67, 29, 0.15);
    z-index: 101;
}

/* Chrome / Safari */
#prog::-webkit-progress-bar {
    background: #f3e6d8;
    border-radius: 999px;
}

#prog::-webkit-progress-value {
    background: #b86f3c;
    border-radius: 999px;
    box-shadow: inset 0 -3px 0 rgba(80, 40, 15, 0.15);
}

/* Firefox */
#prog::-moz-progress-bar {
    background: #b86f3c;
    border-radius: 999px;
    box-shadow: inset 0 -3px 0 rgba(80, 40, 15, 0.15);
}
@font-face {
    font-family: face;
    src: url("https://cdn.hackclub.com/01a09f6d-388e-7b00-bc97-f496aba42ac6/safiro-medium-webfont%20(2).ttf");
}


#tolvl {
    top: 0.1vh;
    right: 14.2vw;
    font: face;
    font-weight: 800;
    font-size: 0.7vw;
    z-index: 101;
}

header {
    height: 8vh;
    background-color: #fff6ee;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: -100;
    border-bottom: 1px solid #774017;
}
body{
    margin-top: 10vh;
}