<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Piko</title>
    <link rel="shortcut icon" href="https://user-cdn.hackclub-assets.com/01a09ef4-95a9-7c17-a846-7fdc19de52aa/Untitled%20design%20(52).png" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='app.css') }}">
    {% block head %}
    
    {% endblock head %}
</head>
<body>
    {% block app_header %}{% endblock app_header %}
    {% block content %}
    
    {% endblock content %}
    {% block js %}
    
    {% endblock js %}
</body>
</html>