{% extends "base.html" %}

{% block head %}
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
   <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
{% endblock head %}

{% block content %}
<main>
    <img id="girl" src="https://cdn.hackclub.com/01a0a122-696b-7dc3-a917-137d052b5147/Untitled%20design%20(62).png" alt="">
    <img id="logo" src="https://cdn.hackclub.com/01a09f65-157b-791c-98f3-368a2b495e60/Untitled%20design%20(53).avif" alt="">
    <a data-aos="fade-in" id="log" href="{{ url_for('auth.login_page') }}">
        <img id="login" src="https://cdn.hackclub.com/01a0a001-634a-7f66-b2e9-3716df2d76b5/Untitled%20design%20(56).avif" alt="">
        <p id="textl">Login</p>
    </a>
<header>
<a data-aos="fade-down" data-aos-delay="200" id="feature" href="#">Features</a>
<a data-aos="fade-down" data-aos-delay="300" id="privace" href="#">Privacy</a>
<a data-aos="fade-down" data-aos-delay="400" id="Blog" href="#">Blog</a>
<a data-aos="fade-down" data-aos-delay="500" id="help" href="#">Help Center</a>
<a data-aos="fade-down" data-aos-delay="600" id="business" href="#">For Business</a>
</header>
<div class="hero">
    <h1>
        <span data-aos="fade-up" data-aos-delay="200" class="highlight3">
            Learn DSA 
        </span>
    </h1>
    <h1>
        <span data-aos="fade-up" data-aos-delay="400" class="highlight1">
            <br>but
        </span>
    </h1>

    <h1>
        <span data-aos="fade-up" data-aos-delay="600" class="highlight">
            <br><br>Gamified
        </span>
        <span class="highlight4">.</span>
    </h1>
</div>
    <section id="section2" >
        <div id="companies">
    <div class="track">


</main>


{% endblock content %}

{% block js %}
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
{% endblock js %}